<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE Configuration>
<Configuration>
  <Appenders>
    <Console name="console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>
    </Console>

    <!-- TODO: 파일 로깅은 어떻게 적용할지 알아보고 하자.. -->
    <!--
    <appender class="org.apache.log4j.DailyRollingFileAppender" name="dailyFileAppender">
      <layout class="org.apache.log4j.PatternLayout">
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="ConversionPattern" value="[%d{HH:mm:ss}][%-5p](%F:%L)-%m%n"/>
      </layout>
      <param name="File" value="C:\\shopping\\logs\\bookshop.log"/>
    </appender>
    -->

  </Appenders>

  <Loggers>
    <Logger level="debug" name="com.spring.bookshop01"/>

    <Logger level="info" name="org.springframework.core"/>
    <Logger level="info" name="org.springframework.beans"/>
    <Logger level="info" name="org.springframework.context"/>
    <Logger level="info" name="org.springframework.web"/>

    <!-- 메퍼는 코드정리가 좀 된 후에 TRACE로 추가하자.. -->
    <!--<Logger name="mapper 패키지" level="TRACE"/>-->

    <Root level="debug">
      <AppenderRef ref="console"/>
      <!--<AppenderRef ref="dailyFileAppender"/>-->
    </Root>
  </Loggers>
</Configuration>
