<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE Configuration>
<Configuration>
  <Appenders>
    <Console name="console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>
    </Console>
    <!-- log4j v1 기존 설정 -->
    <!--
    <appender class="org.apache.log4j.DailyRollingFileAppender" name="dailyFileAppender">
      <layout class="org.apache.log4j.PatternLayout">
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="ConversionPattern" value="[%d{HH:mm:ss}][%-5p](%F:%L)-%m%n"/>
      </layout>
      <param name="File" value="C:\\shopping\\logs\\bookshop.log"/>
    </appender>
    -->
    <RollingFile name="dailyFileAppender"
                 fileName="C:\\shopping\\logs\\bookshop.log"
                 filePattern="C:\\shopping\\logs\\bookshop-%d{yyyy-MM-dd}.log">
      <PatternLayout pattern="[%d{HH:mm:ss}]%-5p-%m%n"/>
      <Policies>
        <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
      </Policies>
    </RollingFile>
  </Appenders>

  <Loggers>
    <Logger level="debug" name="com.spring.bookshop01"/>

    <Logger level="info" name="org.springframework.core"/>
    <Logger level="info" name="org.springframework.beans"/>
    <Logger level="info" name="org.springframework.context"/>
    <Logger level="info" name="org.springframework.web"/>

    <Root level="debug">
      <AppenderRef ref="console"/>
      <AppenderRef ref="dailyFileAppender"/>
    </Root>
  </Loggers>
</Configuration>
