<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE Configuration>
<Configuration>
  <Appenders>
    <Console name="console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>
    </Console>
  </Appenders>

  <Loggers>
    <Logger level="info" name="com.spring.bookshop01"/>

    <Logger level="info" name="org.springframework.core"/>
    <Logger level="info" name="org.springframework.beans"/>
    <Logger level="info" name="org.springframework.context"/>
    <Logger level="info" name="org.springframework.web"/>

    <!-- 실제 매퍼 인터페이스 패키지와 일치되진 않더라도 Mapper의 네임스페이스를 로깅이름으로 걸어도 잘 처리된다. -->
    <Logger name="mapper.admin.goods" level="TRACE"/>
    <Logger name="mapper.admin.member" level="TRACE"/>
    <Logger name="mapper.admin.order" level="TRACE"/>
    <Logger name="mapper.goods" level="TRACE"/>
    <Logger name="mapper.order" level="TRACE"/>

    <Root level="info">
      <AppenderRef ref="console"/>
    </Root>
  </Loggers>
</Configuration>
